* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.app-container {
    width: 100vw;
    height: auto;
}

.app-container header {
    width: 100%;
    height: 5vh;
    border-bottom: 1px solid lightgray;
    background: url("../images/app.header.png") no-repeat;
    background-size: 100%;
    position: fixed;
    top: 0;
}

.app-container article {
    width: 100%;
    margin-top: 5vh;
}

.app-container article img {
    max-width: 100%;
}
